<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Projects</h2>
            <p>The ability to elicit, assessing opportunities</p>
        </div>
    </div>
</div>

<section class="features-area pt-100 pb-70 bg-f4f6fc">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-4 col-md-6"
                *ngFor="let project of Projects; let i = index"
            >
               <a [href]="project.link" target="_blank" class="features-box-one-link">
    <div class="features-box-one">
        <img [src]="project.imgs[0]" class="project-img" />
        <h3>{{ project.TItle }}</h3>
        <p [innerHTML]="project.Description"></p>
        <ul class="proyect-skills">
            <li *ngFor="let technology of project.Technologies" class="ml-3">
                <span class="technology">{{ technology }}</span>
            </li>
        </ul>
    </div>
</a>

            </div>
        </div>
    </div>
</section>

<section class="feedback-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Whats Our Clients Said About <span>Utopia Tech</span></h2>
        </div>
        <div class="feedback-slides owl-carousel owl-theme">
            <div class="single-feedback-item">
                <img src="assets/img/woman1.png" alt="image" />
                <div class="feedback-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse.
                    </p>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <div class="client-info">
                        <h3>Sarah Taylor</h3>
                        <span>CEO at Envato</span>
                    </div>
                </div>
            </div>
            <div class="single-feedback-item">
                <img src="assets/img/woman2.png" alt="image" />
                <div class="feedback-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse.
                    </p>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <div class="client-info">
                        <h3>Olivar Lucy</h3>
                        <span>CEO at EnvyTheme.com</span>
                    </div>
                </div>
            </div>
            <div class="single-feedback-item">
                <img src="assets/img/man1.png" alt="image" />
                <div class="feedback-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse.
                    </p>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <div class="client-info">
                        <h3>Steven Smith</h3>
                        <span>CEO at Envato</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="free-trial-area ptb-100 bg-f4f5fe">
    <div class="container">
        <div class="free-trial-content">
            <h2>We always try to be the best support to you as possible</h2>
            <p>
                Qualify your leads & recognize the value of word your customer
                will love you
            </p>
            <a routerLink="/contact" class="default-btn"
                ><i class="bx bxs-hot"></i> Contact Us<span></span
            ></a>
        </div>
    </div>
    <div class="shape10">
        <img src="assets/img/shape/shape10.png" alt="image" />
    </div>
    <div class="shape11">
        <img src="assets/img/shape/shape7.png" alt="image" />
    </div>
    <div class="shape12">
        <img src="assets/img/shape/shape11.png" alt="image" />
    </div>
    <div class="shape13">
        <img src="assets/img/shape/shape12.png" alt="image" />
    </div>
</section>
